.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .title {
      font-size: 28px;
      margin-top: 0;
      margin-bottom: 25px;
      margin-right: 1rem;
    }
    a {
      color: #000;
    }
    .view-more {
      font-size: 1rem;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
