.sign-in {
  width: 40%;
  display: flex;
  flex-direction: column;
  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .message {
    display: block;
    margin: 0 0 40px;
    font-size: large;
    color: #4285f4;
  }
}
